body {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}

input {
    width:25vw;
    height:2.5vw;
    padding:1vw;
    font-size:1.2vw;
    display:flex;
    align-items:center;
    margin:1vw;
    background-color:rgb(247, 247, 119);
    border:0.5vw solid rgb(247, 247, 119);
    border-radius:1vw;
    outline:none;
}

input:focus {
    background-color:yellow;
    border-color:gold;
}

table {
    width:100%;
}

#controls {
    display:inline-block;
    flex-direction: row;
    justify-content: center;
}

#moneyInput {
    width:60vw;
    font-size:2.5vw;
    height:5vh;
}

#theBalance {
    width:60vw;
    font-size:2.5vw;
    height:5vh;
    background-color:lightgreen;
    border-color:lightgreen;
    text-align:center;
}

button {
    cursor:pointer;
    background-color:lime;
    border:0.5em solid lime;
    border-radius:1vw;
    color:white;
    padding:0.5vw;
    margin:1vw;
    outline:transparent;
}

button:active {
    opacity:0.5;
}

#add-income {
    background-color:lime;
    border-color:lime;
    display:none;
}

#removeExpense {
    background-color: red;
    border-color:red;
}

#removeIncome {
    background-color: red;
    border-color:red;
    display:none;
}

.material-icons {
    padding:1vw;
}

#rowRemoveButton {
    background-color:silver;
    border-color:silver;
}

#rowRemoveButton:active {
    opacity:0.8;
}

#menu-button {
    cursor:pointer;
    display: flex;
}

#menu-button::selection {
    background-color:none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15vw;
    border-right:5px solid silver;
    border-radius:5px;
    background-color:rgb(255, 255, 255, 0.5);
    text-align:left;
    display:none;
    position:fixed;
}

li {
    display: block;
    padding:1vw;
    background-color:rgb(170, 170, 170, 0.5);
    cursor:pointer;
}

li:hover {
    background-color:rgb(138, 138, 138, 0.5);
}

#content-sign {
    position: relative;
    top: 5px;
}

#settings-sign {
    position: relative;
    top: 5px;
}

#star-sign {
    position: relative;
    top: 5px;
}

#developer-sign {
    position: relative;
    top: 5px;
}

#about-sign {
    position: relative;
    top: 5px;
}

#incomes, #expenses {
    background-color:rgb(89, 208, 255);
    border-color:rgb(89, 208, 255);
}

#table-incomes, #expenses {
    display:none;
}

#light-mode {
    background-color:silver;
    border-color:silver;
    box-shadow:1px 1px 3vw gray;
}

#light-mode:active {
    background-color:silver;
    border-color:silver;
    box-shadow:none;
    opacity:0.8;
}

#dark-mode {
    background-color:black;
    border-color:black;
    box-shadow:1px 1px 3vw gray;
}

#dark-mode:active {
    background-color:black;
    border-color:black;
    box-shadow:none;
    opacity:0.8;
}

.material-icons {
    cursor:pointer;
}

#rate {
    color:blue;
    display:revert;
}

textarea {
    width:615px;
    height:330px;
}

.clicked {
    color:yellow;
}

img {
    width:100px;
    background-color:rgb(32, 32, 32, 0.9);
    padding:5vw;
    border-radius:1vw;
}

img:hover {
    position:relative;
    bottom:1vw;
}

img:active {
    position:relative;
    bottom:1vw;
    background-color:rgb(32, 32, 32);
}